<div id="badges_list" class="centered_item">
    <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">
        <img
                src="https://img.shields.io/badge/Framework-FREE-success.svg?style=flat-square&amp;cacheSeconds=604800"
                alt="Open Source"/>
    </a>
    <a href="https://github.com/TonyKaravasilev/CryptoMananaDocs/blob/master/LICENSE" target="_blank">
        <img
                src="https://img.shields.io/github/license/TonyKaravasilev/CryptoMananaDocs.svg?color=important&amp;label=License&amp;style=flat-square&amp;cacheSeconds=604800"
                alt="License"/>
    </a>
    <a href="https://doi.org/10.5281/zenodo.2604693" target="_blank">
        <img
                src="https://img.shields.io/badge/DOI-10.5281%2Fzenodo.2604693%20-blue?style=flat-square&amp;logo=github&amp;cacheSeconds=604800"
                alt="DOI"/>
    </a>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=BFKJXWRLFTFQA&amp;currency_code=USD&amp;source=url"
       target="_blank">
        <img
                src="https://img.shields.io/badge/Donate-PayPal-RebeccaPurple.svg?style=flat-square&amp;logo=paypal&amp;cacheSeconds=604800"
                alt="Donate"/>
    </a>
</div>
