<div id="breadcrumbs_list">
    <ul class="breadcrumb">
        <li>
            <a href="{{ page.breadcrumb.home.url }}" title="{{ page.breadcrumb.home.title }}">
                {{ page.breadcrumb.home.title }}
            </a>
        </li>
        <li>
            <a href="{{ page.breadcrumb.manual.url }}" title="{{ page.breadcrumb.manual.title }}">
                {{ page.breadcrumb.manual.title }}
            </a>
        </li>
        <li>
            {{ page.breadcrumb.current.title }}
        </li>
    </ul>
</div>
