<!-- Facebook Buttons HTML -->
<div id="facebook_buttons_list" class="fb-like centered_item"
     data-href="https://cryptomanana.karavasilev.info"
     data-width="320"
     data-layout="button_count"
     data-action="like"
     data-size="large"
     data-share="true">
</div>

<!-- Facebook Buttons JS -->
<div id="fb-root"></div>
<script async
        defer
        crossorigin="anonymous"
        nonce="bZAHqTMJ"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0">
</script>
