<!-- Github Buttons HTML -->
<div id="github_buttons_list" class="centered_item">
    <a class="github-button"
       href="https://github.com/TonyKaravasilev/CryptoManana"
       data-icon="octicon-star"
       data-show-count="true"
       aria-label="Star TonyKaravasilev/CryptoManana on GitHub">
        Star
    </a>
    <a class="github-button"
       href="https://github.com/TonyKaravasilev/CryptoManana/subscription"
       data-icon="octicon-eye"
       data-show-count="true"
       aria-label="Watch TonyKaravasilev/CryptoManana on GitHub">
        Watch
    </a>
    <a class="github-button"
       href="https://github.com/TonyKaravasilev"
       data-show-count="true"
       aria-label="Follow @TonyKaravasilev on GitHub">
        Follow @TonyKaravasilev
    </a>
</div>

<!-- Github Buttons JS -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
